.bg-grad-sidebar {
    background-image: linear-gradient(0deg,#22a7ba,#3c4655) !important;
    width: 10rem !important;
}
.px-view {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.bg-logo2{
    background-color: #001e2c !important;
}

.content {
    max-width: calc(100vw - 10rem) !important;
}
